- var pageTitle = "Boundi"
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    include pug/layout/styles
  body 
    html
  body
    include pug/layout/navbar

    include pug/pages/homepage

    include pug/layout/footer

  include pug/layout/scripts

