.footer.pt-5.pb-5.text-center.text-md-start.text-white-50
  .container
    .row
      .col-md-6.col-lg-4 
        .info.mb-5
          img.mb-4(src="imgs/logo.png", alt="")
          p.mb-5 Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
          .copyright Created By 
            span Graphberry
            div &copy; 2022 - 
              span Bondi Inc
      .col-md-6.col-lg-2 
        .links 
          h5.text-light Links
          ul.list-unstyled.lh-lg
            li Home
            li Our Services 
            li Portofolio
            li Testimonials
            li Suport
            li Terms and Condition
      .col-md-6.col-lg-2 
        .links 
          h5.text-light Abuout us
          ul.list-unstyled.lh-lg
            li Sign 
            li Register
            li Blog
            li Contact
      .col-md-6.col-lg-4
        .contact
          h5.text-light.mb-3 Contact Us
          p.text-white-50.mb-5 Get in touch with us via mail phone.We are waiting for your call or message
          .d-flex.justify-content-center.align-items-center.mt-5.mb-5
            a.btn.rounded-pill.main-btn.w-100 graphberry@gmail.com
          ul.d-flex.mt-5.list-unstyled.gap-5
            li: a(href="#") 
                  i.fa-brands.fa-facebook.fa-lg.facebook.rounded-circle.p-2.text-white
            li: a(href="#") 
                  i.fa-brands.fa-twitter.fa-lg.twitter.rounded-circle.p-2.text-white
            li: a(href="#") 
                  i.fa-brands.fa-linkedin.fa-lg.linkedin.rounded-circle.p-2.text-white
            li: a(href="#") 
                  i.fa-brands.fa-youtube.fa-lg.youtube.rounded-circle.p-2.text-white
